.ui.secondary.pointing.menu(ng-controller="headerController", headroom)
  div.contained
    .header.item
      a.header.item(href="/") Maki
    block mainMenu
      a.item(href="/", title="Maki Homepage", ng-class="{ active: isActive('/')}")
        i.home.icon
        |  Home
      a.item(href="/how-to", title="How To Use Bitcoin", ng-class="{ active: isActive('/how-to')}")
        i.bitcoin.icon
        |  How To Bitcoin
      a.item(href="/the-plan", title="Here's the plan..", ng-class="{ active: isActive('/the-plan')}")
        i.suitcase.icon
        |  The Plan
