extends layouts/default

block content
  
  .ui.divider
    
  h1 The Plan
  p 9/19/2014
  .ui.two.column.grid
    .column
      p  We want to take the whole family to Disney! The family is getting much bigger these days so a trip of this magnitude will not be cheap by any means. I would really like to teach everyone about Bitcoin, so I figured this would be a great opportunity. Here’s how it’s going to work: Everyone will have access to the website. If you want to contribute, you have to figure out how to buy Bitcoin and send it to the vacation fund. If you need a hint, just go to the How To Bitcoin page. If you still need help, then just give me a call and I can help you out; you have my number.
      p  When you look at the main page of the site you see 3 boxes and a progress bar. The Goal box in the middle displays our goal amount in Bitcoin with the US Dollar amount below, and the amount contributed in the left box. You’ll notice that the Bitcoin values will change. That’s because the exchange rate of Bitcoin is constantly changing. Its value is based on the market, kind of like a stock. This is actually good because Bitcoin is deflationary by nature, which means it’s designed to be always increasing in value. Unlike the US Dollar, you can’t just print as much money as you want. It’s limited by math that cannot be broken or cheated or controlled by a single authority. As the price of Bitcoin goes up, we will get closer to our goal. The price is very low right now, but alot of people speculate that it is going to go up very soon. That means that the more we contribute sooner the better, and the more it will pay off in the end.
      p  Once we reach our goal, we will be able to cash out (or preferably just pay for the vacation directly with Bitcoin. That might be possible soon.)
      p  Keep checking back on this page. I will make updates every now and then.
      br
      p  Good luck!
      p  Uncle Chaz
    .column
      img(src="http://i.imgur.com/SVeVr3Q.jpg", width="100%")
        
  .ui.divider